/* most of the changes in this file is there because I would like to make
the slack pretty on vertically oriented monitor => making the side panels thinner */

.client_channels_list_container {
	max-width: 160px !important;
}

#col_channels {
	width: 160px !important;
}

.p-channel_sidebar__section_heading_plus:before {
	left: -50px !important;
	position: relative !important;
}

@media screen and (max-width: 860px) {
	#client-ui.flex_pane_showing.details_showing #col_flex,
	#client-ui.flex_pane_showing #col_flex {
		flex-basis: 200px !important;
	}
}

#client-ui.flex_pane_showing.details_showing #col_flex,
#client-ui.flex_pane_showing #col_flex {
	flex-basis: 200px !important;
}

.c-mrkdwn__member--link, .c-mrkdwn__subteam--link, .c-reaction { background: #555; }

.c-reaction { border: 1px solid #777; }

.c-reaction__count { color: #e6e6e6; }

#reply_container .inline_message_input_container.with_file_upload {
    background: padding-box #545454;
    border-color: #424242;
    color: #e6e6e6;
}
